/*
Nome:  genesis Ferreira / Danilo
DEV:JR JR
labenumero: 2136262
Descriçao: site banco F4 bank
Version: 1.0

--------------------------------------------
ESTRUTURA BASE
--------------------------------------------
**** DECLARAÇÃO DE VARIAVEIS
**** ESTILOS GERAIS
**** da linha 0 /0
**** BODY
**** da linha 0 / 0
**** HEADER
**** da linha 0 / 0
**** MAIN
**** da linha 0 / 0
**** FOOTER
**** da linha 0 / 0
****@MEDIA
**** da linha 0 / 0


font-family: 'Roboto', sans-serif;

*/

/* ESTILOS GERAIS */